body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #80deea);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: transform 0.6s ease; 
}
body.fade-out{
  transform: translateX(-100vw);
  opacity: 0.3;
}
.form-container {
  background: linear-gradient(0deg,cyan, cyan);
/*  padding: 10px 30px;*/
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  max-width: 400px;
  align-items: center;
  
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color:blue;
  font-size: 40px;
  margin-left: 10px;
  background: red;
  border-radius: 10px;
}

.input-group {
  position: relative;
  margin: 20px  0px;
  autocomplete:off;
}

.input-group input {
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  border: 2px solid blue;
  border-radius: 10px;
  outline: none;
  background:  linear-gradient(0deg, white, cyan);
  transition: 0.3s ease all;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: brown;
  text-align: left;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
  background:none;
  padding: 2px  6px;
  text-align: center;
  border-radius: 1px;
  border: 2px solid linear-gradient(0deg, #e0f7fa, #80deea);
} 
.input-group button{
  position: absolute;
  right: 0px;
  top:14px;
  display:none;
  
  border: none;
  background: none;
  color : black;
  font-size: 18px;
  witdth:0 auto;
  height: 0 auto;
  padding: 3px 5px;
  
}

.input-group .highlight {
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background: #00796b;
  transition: 0.2s ease all;
  color: 
}

.input-group input:focus + .highlight {
  width:0;
}
.input-group input:focus+button{
  background:  linear-gradient(0deg, cyan, cyan);
}

.input-group input:focus + .highlight + label,
.input-group input:valid + .highlight + label 
{
  top: -7px;
  font-size: 12px;
  color: orange;
  padding: 0 6px;
  border: 0;
  background:  linear-gradient(0deg, cyan, cyan);
  
}

/*.btn{
  width: 100%;
  padding: 14px;
  font-size: 16px;
  color:white;
  font-weight: bold;
  font-size: 20px;
  background: blue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-left: 10px;
}*/
.butt{
  margin-left: 10px;
   position: relative;
    padding: 10px 40px;
    font-size: 20px;
    color: #fff;
    background: green;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  width:100%;
  height: 40px;
  font-weight: bold;
  text-align: center
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 50px;
}


}
.form-container a{
  font-style: italic;
  color: green;
}
.input-group input:hover{
  border-color: orange;
}
/* Empêche le fond jaune/bleu après un coller ou autofill */
  input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px linear-gradient(50deg, white, cyan) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px linear-gradient(50deg, white, cyan) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
.btn{
  position: relative;
    padding: 12px 40px;
    font-size: 20px;
    color: #fff;
    background: blue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  width:100%;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 30px;
  
  /*width: 100%;
  padding: 14px;
  font-size: 16px;
  color:white;
  font-weight: bold;
  font-size: 20px;
  background: blue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-left: 10px;*/
    overflow: hidden;
  }

  .btn .text {
    transition: opacity 0.3s;
  }
.butt .text {
    transition: opacity 0.3s;
  }
.btn .loader {
  /*  position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: none; /* caché par défaut */
  
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255,255,255,0.2); /* fond clair */
    border-top-color: #fff;                  /* début de la queue */
    border-right-color: #fff;                /* prolonger la queue */
    border-bottom-color: #fff;               /* encore plus long */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: none; /* caché par défaut */

 
  } 
.butt .loader {
 /*   position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    : translate(-50%, -50%);
    animation: spin 0.8s linear infinite;
    display: none; /* caché par défaut */
  

    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,0.2); /* fond clair */
    border-top-color: #fff;                  /* début de la queue */
    border-right-color: #fff;                /* prolonger la queue */
    border-bottom-color: #fff;               /* encore plus long */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: none; /* caché par défaut */


  }

  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  
  .btn.loading .text {
    opacity: 0;
  }
 .butt.loading .text {
    opacity: 0;
  }

  .btn.loading .loader {
    display: block;
  }
.butt.loading .loader{
  display: block;
}

  .overlay {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.5);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    /* Boîte flottante */
    .popup {
      background: white;
      padding: 20px;
      border-radius: 20px;
      width: 80%;
      max-width: 80%;
      box-shadow: 0 4px 15px rgba(0,0,0,0.3);
      text-align: center;
      animation: apparaitre 0.1s ease-out;
    }
    /* Titre */
    .popup h2 {
      font-weight: bold;
      margin: 0 0 10px;
      font-size: 20px;
      color:blue;
    }
    /* Message */
    .popup p {
      font-size: 15px;
      color: #555;
    }
    /* Bouton */
    .popup button {
      margin-top: 15px;
      padding: 8px 15px;
      border: none;
      border-radius: 5px;
      background: #007bff;
      color: white;
      cursor: pointer;
    }
    .popup button:hover {
      background: #0056b3;
    }
    /* Animation */
    @keyframes apparaitre {
      from { transform: scale(0.8); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
    }
.bouton-container {
  width: 360px;
  height:0 auto;
  border: 1px solid gray;
  align-content: top;
  align-items:center;
  background: white;
  border-radius: 8px;
  display: flex;
  margin-top: 0;
  text-align: center;
  
}
.bouton-container button{
  width:0 auto;
  height: 0 auto;
  padding: 5px 10px ;
  margin:8px 8px ;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color : white ;
  background: blue;
  text-align: center;
  
}
.bouton-container h2{
  background: blue;
  padding:5px 8px;
  font-size: 20px;
  margin: 5px 5px;
  color: red;
  text-align: center;
  
}
  .input-group  .toggle-eye {
    position: absolute;
    right: 10px;
    top: 14px;
   /* transform: translateY(-50%);*/
    cursor: pointer;
    display: none; /* caché par défaut */
    font-size: 18px;
  }